USE [WatchShop]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 07/08/2015 00:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tag] ON
INSERT [dbo].[Tag] ([Id], [Name], [IsActive]) VALUES (12, N'Đồng hồ nam', 1)
INSERT [dbo].[Tag] ([Id], [Name], [IsActive]) VALUES (13, N'Đồng hồ nữ', 1)
INSERT [dbo].[Tag] ([Id], [Name], [IsActive]) VALUES (14, N'Casio', 1)
SET IDENTITY_INSERT [dbo].[Tag] OFF
/****** Object:  Table [dbo].[Store]    Script Date: 07/08/2015 00:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Store](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Phone] [varchar](11) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Store] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Store] ON
INSERT [dbo].[Store] ([Id], [Name], [Address], [Phone], [IsActive]) VALUES (1, N'Cửa hàng 199', N'199 Phố Vip, Hồ Chí Minh', N'0123456789', 1)
INSERT [dbo].[Store] ([Id], [Name], [Address], [Phone], [IsActive]) VALUES (2, N'Đồng hồ VIP', N'355 CMT8, Hồ Chí Minh', N'1987654321', 1)
SET IDENTITY_INSERT [dbo].[Store] OFF
/****** Object:  Table [dbo].[Role]    Script Date: 07/08/2015 00:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Role] ON
INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'User')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Administrator')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (3, N'Staff')
SET IDENTITY_INSERT [dbo].[Role] OFF
/****** Object:  Table [dbo].[Order]    Script Date: 07/08/2015 00:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [varchar](11) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[ConfirmCode] [varchar](5) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON
INSERT [dbo].[Order] ([Id], [Phone], [OrderDate], [Status], [ConfirmCode]) VALUES (4, N'01698642311', CAST(0x0000A4CE016BA76E AS DateTime), 1, N'80118')
INSERT [dbo].[Order] ([Id], [Phone], [OrderDate], [Status], [ConfirmCode]) VALUES (5, N'01698642311', CAST(0x0000A4CE016E6B5A AS DateTime), 1, N'79893')
INSERT [dbo].[Order] ([Id], [Phone], [OrderDate], [Status], [ConfirmCode]) VALUES (6, N'01698642311', CAST(0x0000A4CE01711DC7 AS DateTime), 1, N'80734')
SET IDENTITY_INSERT [dbo].[Order] OFF
/****** Object:  Table [dbo].[LogInformation]    Script Date: 07/08/2015 00:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LogInformation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Thread] [varchar](255) NOT NULL,
	[Level] [varchar](50) NOT NULL,
	[Logger] [varchar](255) NOT NULL,
	[Message] [varchar](4000) NOT NULL,
	[Exception] [varchar](2000) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 07/08/2015 00:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Banner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageURL] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Banner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CacheData]    Script Date: 07/08/2015 00:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CacheData](
	[Id] [int] NOT NULL,
	[NumOfWatches] [int] NOT NULL,
	[CacheData] [ntext] NOT NULL,
 CONSTRAINT [PK_CacheData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 07/08/2015 00:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Member](
	[Id] [varchar](20) NOT NULL,
	[Phone] [varchar](11) NOT NULL,
	[RoleId] [int] NOT NULL,
	[WorkAt] [int] NULL,
	[Password] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Member] ([Id], [Phone], [RoleId], [WorkAt], [Password], [IsActive]) VALUES (N'01698642311', N'01698642311', 1, NULL, N'123', 1)
INSERT [dbo].[Member] ([Id], [Phone], [RoleId], [WorkAt], [Password], [IsActive]) VALUES (N'0918369209', N'0918369209', 1, 1, N'123', 1)
/****** Object:  Table [dbo].[Brand]    Script Date: 07/08/2015 00:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Brand](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedByTransactionOf] [varchar](20) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON
INSERT [dbo].[Brand] ([Id], [Name], [IsActive], [CreatedByTransactionOf]) VALUES (1, N'Omega', 1, NULL)
INSERT [dbo].[Brand] ([Id], [Name], [IsActive], [CreatedByTransactionOf]) VALUES (2, N'Rolex', 1, NULL)
INSERT [dbo].[Brand] ([Id], [Name], [IsActive], [CreatedByTransactionOf]) VALUES (3, N'Casio', 1, NULL)
SET IDENTITY_INSERT [dbo].[Brand] OFF
/****** Object:  Table [dbo].[Message]    Script Date: 07/08/2015 00:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Message](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](250) NOT NULL,
	[MemberId] [varchar](20) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Model]    Script Date: 07/08/2015 00:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Model](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[BrandId] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedByTransactionOf] [varchar](20) NULL,
 CONSTRAINT [PK_Model] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Model] ON
INSERT [dbo].[Model] ([Id], [Name], [BrandId], [Price], [IsActive], [CreatedByTransactionOf]) VALUES (1, N'G-Shock AW-591MS-1ADR', 3, 2150000, 1, NULL)
INSERT [dbo].[Model] ([Id], [Name], [BrandId], [Price], [IsActive], [CreatedByTransactionOf]) VALUES (3, N'Quartz MTP-1183E-7ADF', 3, 1200000, 1, NULL)
INSERT [dbo].[Model] ([Id], [Name], [BrandId], [Price], [IsActive], [CreatedByTransactionOf]) VALUES (4, N'G-Shock  AW-590-1ADR', 3, 1935000, 1, NULL)
SET IDENTITY_INSERT [dbo].[Model] OFF
/****** Object:  Table [dbo].[Watch]    Script Date: 07/08/2015 00:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Watch](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[GlassType] [nvarchar](50) NULL,
	[CaseMeterial] [nvarchar](50) NULL,
	[MainColor] [nvarchar](50) NULL,
	[Images] [varchar](250) NULL,
	[InTransactionPrice] [float] NOT NULL,
	[TransactionType] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Description] [nvarchar](250) NULL,
	[MemberId] [varchar](20) NULL,
	[ModelId] [int] NULL,
	[AvailableAt] [int] NULL,
	[ConfirmPrice] [float] NULL,
	[ConfirmCode] [varchar](5) NULL,
	[CreatedTime] [datetime] NULL,
	[Size] [varchar](50) NULL,
	[PurchasedBy] [varchar](20) NULL,
 CONSTRAINT [PK_Watch] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Watch] ON
INSERT [dbo].[Watch] ([Id], [Name], [GlassType], [CaseMeterial], [MainColor], [Images], [InTransactionPrice], [TransactionType], [Status], [Description], [MemberId], [ModelId], [AvailableAt], [ConfirmPrice], [ConfirmCode], [CreatedTime], [Size], [PurchasedBy]) VALUES (16, N'Casio BEL-130D-1AVDF', N'Mineral Crystal (Kính Cứng)', N'Thép không gỉ', N'Đen', N'/Images/Upload/63571824000000_1.jpg', 2494000, 0, 1, N'Casio BEL-130D-1AVDF', N'01698642311', 18, 1, 2594000, N'44009', CAST(0x0000A4CE0174AC4C AS DateTime), N'32mm', NULL)
INSERT [dbo].[Watch] ([Id], [Name], [GlassType], [CaseMeterial], [MainColor], [Images], [InTransactionPrice], [TransactionType], [Status], [Description], [MemberId], [ModelId], [AvailableAt], [ConfirmPrice], [ConfirmCode], [CreatedTime], [Size], [PurchasedBy]) VALUES (22, N'Casio BEL-130D-4AVDF', N'Mineral Crystal (Kính Cứng)', N'Thép không gỉ', N'Hồng', N'/Images/Upload/63571824000000_1.jpg;/Images/Upload/63571824000000_2.jpg', 2494000, 0, 1, N'Casio BEL-130D-4AVDF', N'01698642311', 19, 1, 2594000, N'64175', CAST(0x0000A4CE0172349D AS DateTime), N'32mm', NULL)
SET IDENTITY_INSERT [dbo].[Watch] OFF
/****** Object:  Table [dbo].[WristWatch]    Script Date: 07/08/2015 00:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WristWatch](
	[Id] [int] NOT NULL,
	[Gender] [bit] NOT NULL,
	[DisplayType] [bit] NULL,
	[IsSmartWatch] [bit] NOT NULL,
	[WaterProof] [int] NULL,
	[StrapMeterial] [nvarchar](50) NULL,
 CONSTRAINT [PK_WristWatch] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[WristWatch] ([Id], [Gender], [DisplayType], [IsSmartWatch], [WaterProof], [StrapMeterial]) VALUES (15, 0, 1, 0, 5, N'thép không gỉ')
INSERT [dbo].[WristWatch] ([Id], [Gender], [DisplayType], [IsSmartWatch], [WaterProof], [StrapMeterial]) VALUES (16, 0, 1, 0, 5, N'Thép không gỉ')
INSERT [dbo].[WristWatch] ([Id], [Gender], [DisplayType], [IsSmartWatch], [WaterProof], [StrapMeterial]) VALUES (22, 0, 1, 0, 5, N'Thép không gỉ')
/****** Object:  Table [dbo].[Watch_Tag]    Script Date: 07/08/2015 00:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Watch_Tag](
	[WatchId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
 CONSTRAINT [PK_Watch_Tag] PRIMARY KEY CLUSTERED 
(
	[WatchId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Watch_Tag] ([WatchId], [TagId]) VALUES (15, 13)
INSERT [dbo].[Watch_Tag] ([WatchId], [TagId]) VALUES (15, 14)
INSERT [dbo].[Watch_Tag] ([WatchId], [TagId]) VALUES (26, 12)
/****** Object:  Table [dbo].[SellOrder]    Script Date: 07/08/2015 00:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellOrder](
	[Id] [int] NOT NULL,
	[WatchId] [int] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_SellOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WallLock]    Script Date: 07/08/2015 00:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WallLock](
	[Id] [int] NOT NULL,
	[Shape] [nvarchar](50) NULL,
	[DisplayType] [bit] NULL,
 CONSTRAINT [PK_WallLock] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timepeice]    Script Date: 07/08/2015 00:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timepeice](
	[Id] [int] NOT NULL,
	[WoodType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Timepeice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExchangeRequest]    Script Date: 07/08/2015 00:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExchangeRequest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [varchar](20) NULL,
	[OwnedWatch] [int] NULL,
	[WishWatch] [int] NULL,
	[ConfirmCode] [varchar](5) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_ExchangeRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BuyOrder]    Script Date: 07/08/2015 00:58:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuyOrder](
	[Id] [int] NOT NULL,
	[WatchId] [int] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_BuyOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BuyOrder] ([Id], [WatchId], [Price]) VALUES (4, 25, 2150000)
INSERT [dbo].[BuyOrder] ([Id], [WatchId], [Price]) VALUES (5, 24, 2365000)
INSERT [dbo].[BuyOrder] ([Id], [WatchId], [Price]) VALUES (6, 23, 2365000)
/****** Object:  Default [DF_Store_IsActive]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[Store] ADD  CONSTRAINT [DF_Store_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF_Member_Id]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [DF_Member_Id]  DEFAULT ((1)) FOR [Id]
GO
/****** Object:  Default [DF_Brand_isActive]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[Brand] ADD  CONSTRAINT [DF_Brand_isActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF_Model_IsActive]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[Model] ADD  CONSTRAINT [DF_Model_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF_Watch_CreatedTime]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[Watch] ADD  CONSTRAINT [DF_Watch_CreatedTime]  DEFAULT (getdate()) FOR [CreatedTime]
GO
/****** Object:  ForeignKey [FK_Member_Role]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_Role]
GO
/****** Object:  ForeignKey [FK_Member_Store]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Store] FOREIGN KEY([WorkAt])
REFERENCES [dbo].[Store] ([Id])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_Store]
GO
/****** Object:  ForeignKey [FK_Brand_UserID]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[Brand]  WITH CHECK ADD  CONSTRAINT [FK_Brand_UserID] FOREIGN KEY([CreatedByTransactionOf])
REFERENCES [dbo].[Member] ([Id])
GO
ALTER TABLE [dbo].[Brand] CHECK CONSTRAINT [FK_Brand_UserID]
GO
/****** Object:  ForeignKey [FK_Message_Member]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([Id])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_Member]
GO
/****** Object:  ForeignKey [FK_Model_Brand]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[Model]  WITH CHECK ADD  CONSTRAINT [FK_Model_Brand] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brand] ([Id])
GO
ALTER TABLE [dbo].[Model] CHECK CONSTRAINT [FK_Model_Brand]
GO
/****** Object:  ForeignKey [FK_Model_UserID]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[Model]  WITH CHECK ADD  CONSTRAINT [FK_Model_UserID] FOREIGN KEY([CreatedByTransactionOf])
REFERENCES [dbo].[Member] ([Id])
GO
ALTER TABLE [dbo].[Model] CHECK CONSTRAINT [FK_Model_UserID]
GO
/****** Object:  ForeignKey [FK_Watch_Member]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[Watch]  WITH CHECK ADD  CONSTRAINT [FK_Watch_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([Id])
GO
ALTER TABLE [dbo].[Watch] CHECK CONSTRAINT [FK_Watch_Member]
GO
/****** Object:  ForeignKey [FK_Watch_Model]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[Watch]  WITH CHECK ADD  CONSTRAINT [FK_Watch_Model] FOREIGN KEY([ModelId])
REFERENCES [dbo].[Model] ([Id])
GO
ALTER TABLE [dbo].[Watch] CHECK CONSTRAINT [FK_Watch_Model]
GO
/****** Object:  ForeignKey [FK_Watch_Store]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[Watch]  WITH CHECK ADD  CONSTRAINT [FK_Watch_Store] FOREIGN KEY([AvailableAt])
REFERENCES [dbo].[Store] ([Id])
GO
ALTER TABLE [dbo].[Watch] CHECK CONSTRAINT [FK_Watch_Store]
GO
/****** Object:  ForeignKey [FK_WristWatch_Watch]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[WristWatch]  WITH CHECK ADD  CONSTRAINT [FK_WristWatch_Watch] FOREIGN KEY([Id])
REFERENCES [dbo].[Watch] ([Id])
GO
ALTER TABLE [dbo].[WristWatch] CHECK CONSTRAINT [FK_WristWatch_Watch]
GO
/****** Object:  ForeignKey [FK_Watch_Tag_Tag]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[Watch_Tag]  WITH CHECK ADD  CONSTRAINT [FK_Watch_Tag_Tag] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([Id])
GO
ALTER TABLE [dbo].[Watch_Tag] CHECK CONSTRAINT [FK_Watch_Tag_Tag]
GO
/****** Object:  ForeignKey [FK_Watch_Tag_Watch]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[Watch_Tag]  WITH CHECK ADD  CONSTRAINT [FK_Watch_Tag_Watch] FOREIGN KEY([WatchId])
REFERENCES [dbo].[Watch] ([Id])
GO
ALTER TABLE [dbo].[Watch_Tag] CHECK CONSTRAINT [FK_Watch_Tag_Watch]
GO
/****** Object:  ForeignKey [FK_SellOrder_Order]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[SellOrder]  WITH CHECK ADD  CONSTRAINT [FK_SellOrder_Order] FOREIGN KEY([Id])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[SellOrder] CHECK CONSTRAINT [FK_SellOrder_Order]
GO
/****** Object:  ForeignKey [FK_SellOrder_Watch]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[SellOrder]  WITH CHECK ADD  CONSTRAINT [FK_SellOrder_Watch] FOREIGN KEY([WatchId])
REFERENCES [dbo].[Watch] ([Id])
GO
ALTER TABLE [dbo].[SellOrder] CHECK CONSTRAINT [FK_SellOrder_Watch]
GO
/****** Object:  ForeignKey [FK_WallLock_Watch]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[WallLock]  WITH CHECK ADD  CONSTRAINT [FK_WallLock_Watch] FOREIGN KEY([Id])
REFERENCES [dbo].[Watch] ([Id])
GO
ALTER TABLE [dbo].[WallLock] CHECK CONSTRAINT [FK_WallLock_Watch]
GO
/****** Object:  ForeignKey [FK_Timepeice_Watch]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[Timepeice]  WITH CHECK ADD  CONSTRAINT [FK_Timepeice_Watch] FOREIGN KEY([Id])
REFERENCES [dbo].[Watch] ([Id])
GO
ALTER TABLE [dbo].[Timepeice] CHECK CONSTRAINT [FK_Timepeice_Watch]
GO
/****** Object:  ForeignKey [FK_ExchangeRequest_Member]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[ExchangeRequest]  WITH CHECK ADD  CONSTRAINT [FK_ExchangeRequest_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([Id])
GO
ALTER TABLE [dbo].[ExchangeRequest] CHECK CONSTRAINT [FK_ExchangeRequest_Member]
GO
/****** Object:  ForeignKey [FK_ExchangeRequest_Watch]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[ExchangeRequest]  WITH CHECK ADD  CONSTRAINT [FK_ExchangeRequest_Watch] FOREIGN KEY([OwnedWatch])
REFERENCES [dbo].[Watch] ([Id])
GO
ALTER TABLE [dbo].[ExchangeRequest] CHECK CONSTRAINT [FK_ExchangeRequest_Watch]
GO
/****** Object:  ForeignKey [FK_ExchangeRequest_Watch1]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[ExchangeRequest]  WITH CHECK ADD  CONSTRAINT [FK_ExchangeRequest_Watch1] FOREIGN KEY([WishWatch])
REFERENCES [dbo].[Watch] ([Id])
GO
ALTER TABLE [dbo].[ExchangeRequest] CHECK CONSTRAINT [FK_ExchangeRequest_Watch1]
GO
/****** Object:  ForeignKey [FK_BuyOrder_Order]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[BuyOrder]  WITH CHECK ADD  CONSTRAINT [FK_BuyOrder_Order] FOREIGN KEY([Id])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[BuyOrder] CHECK CONSTRAINT [FK_BuyOrder_Order]
GO
/****** Object:  ForeignKey [FK_BuyOrder_Watch]    Script Date: 07/08/2015 00:58:12 ******/
ALTER TABLE [dbo].[BuyOrder]  WITH CHECK ADD  CONSTRAINT [FK_BuyOrder_Watch] FOREIGN KEY([WatchId])
REFERENCES [dbo].[Watch] ([Id])
GO
ALTER TABLE [dbo].[BuyOrder] CHECK CONSTRAINT [FK_BuyOrder_Watch]
GO
